@charset "UTF-8";



body{
    background-color: rgb(143, 255, 143);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    background-color: rgb(5, 132, 5);
    color: white;
}

h1{
   color: rgb(5, 132, 5);
}

h2{
    color: rgb(0, 108, 117);
}

.basico{
    color: rgb(5, 132, 5);
    font-weight: bold;
}

.intermediario{
    color: rgb(132, 132, 5);
}

.avancado{
    color: rgb(132, 5, 5);
}

.destaque{
    background-color: rgba(255, 255, 0, 0.515);
}