@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #9BF2EA, #275950);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #260101a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2A8C82;
    text-align: center;
    text-shadow: 1px 1px 2px #17353080;
}

h2{
    color: #41BFB3;
}

p{
    text-align: justify;
}